input{
    display: block;
}
.subject, .sub, .email, .mail, .content, .message_content, .subm{
    font-size: 30px;
}
.message{
    color: green;
}
.message_content{
    margin-top: 30px;
}
.subm{
    color: white;
    border-radius: 5px;
    background-color: green;
}
