.container {
    display: inline-block;
    width: 320px;
    padding: 10px;
    border: 3px solid black;
    justify-content: space-evenly;
    margin: 20px 20px 20px 20px;
    background-color: rgb(98, 98, 126);
    border-radius: 15px;
}

.movimg {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.rating,
.title,
.genre,
.runtime {
    text-align: center;
}

.overview {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.welcome {
    color: rgb(134, 12, 12);
}