.containerinfo {
    text-align: center;
    display: inline-block;
    width: 320px;
    padding: 30px;
    border: 3px solid black;
    justify-content: space-evenly;
    margin-left: 488px;
    margin-top: 20px;
    background-color: rgb(98, 98, 126);
    border-radius: 15px;
    font-size: 20px;
    margin-bottom: 20px;
}

.overview {
    font-size: 20px;
}

.back {
    background-color: rgb(98, 98, 126);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 656px;
}
