nav {
    background-color: rgb(247, 224, 16);
    text-align: center;
    font-size: 30px;
    height: 80px;
}

nav>a {
    margin: 20;
    padding: 35px 100px;
    color: black;
}

nav>a.active {
    color: black;
    background-color: rgb(250, 246, 246);
    text-decoration: none;
    font-size: 40px;
}