nav {
    background-color: aqua;
    text-align: center;
    font-size: 30px;
    height: 80px;
  }
  
  nav > a {
    margin: 0;
    padding: 35px 90px;
    color: red;
  }
  
  nav > a.active {
    background-color: azure;
    text-decoration: none;
    font-size: 40px;
  }
  